@font-face {
  font-family: 'Se7en'; /* Custom name for your font */
  src: url('fonts/7segment.woff2') format('woff2'),
       url('fonts/7segment.woff') format('woff'),
       url('fonts/7segment.ttf') format('truetype');
  font-style: normal;
  font-display: swap; /* Optional: improves performance, see */
}

*{
    margin: 0;
    padding: 0;
    font-family: 'calibri';
}

body{
    background-color: hsl(0, 0%, 5%);
    color: white;
}

#score{
    font-family: 'Se7en';
    font-size: 4rem;
    padding: 10px;
}

#inc{
    padding: 5px;
    font-family: 'Se7en';
    font-size: 2rem;
}

.mainButt{
    margin: 10px;
    padding: 10px;
}

.upgrades{
    margin: 10px;
    padding: 5px;
    background-color: hsl(0, 0%, 10%);
    border-radius: 20px;
}

.sen{
    font-family: 'Se7en';
}

.upgrade{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 15%);
    justify-content: space-between;
    margin: 10px;
}

.stat{
    display: flex;
    gap: 5px
}

.upbutton{
    border: 0;
    padding: 5px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    border-radius: 10px;
}